@font-face {
	font-family: "inconsolata";
	src: url("../Inconsolata.otf");
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "inconsolata";
  	font-size: 15px;
}

#wrapper {
	margin: -8px;
    margin: 5%;
	height: 100%;
	min-height: 100%;
	overflow: auto;
}
#box-wrapper {
    margint : 2%;
    margin-top: 100px;
	height: calc(100% - 14px);
	max-height: 100%;
}

.hostLine input[type=text] {
    width: 70%;
    border:solid 0px gray;
    margin: 20px 5px;
}

.hostLine input[type=text]:focus{
    border:solid 2px red;
}
.hidden{
    display: none;
}

.visible{
    display: inline;
}


